<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">sha123</property>
    <mapping resource="library/Mbareserv.hbm.xml"/>
    <mapping resource="library/Department.hbm.xml"/>
    <mapping resource="library/Transactiontab.hbm.xml"/>
    <mapping resource="library/Biotechpatron.hbm.xml"/>
    <mapping resource="library/Mcaissue.hbm.xml"/>
    <mapping resource="library/Settings.hbm.xml"/>
    <mapping resource="library/Biotechbookreg.hbm.xml"/>
    <mapping resource="library/Mcatrans.hbm.xml"/>
    <mapping resource="library/Mcafine.hbm.xml"/>
    <mapping resource="library/Mcbissue.hbm.xml"/>
    <mapping resource="library/Mbapatron.hbm.xml"/>
    <mapping resource="library/Btechbookreg.hbm.xml"/>
    <mapping resource="library/Admin.hbm.xml"/>
    <mapping resource="library/Mcainbox.hbm.xml"/>
    <mapping resource="library/Mcareserv.hbm.xml"/>
    <mapping resource="library/Mcapatron.hbm.xml"/>
    <mapping resource="library/Mcabookavail.hbm.xml"/>
    <mapping resource="library/Btechpatron.hbm.xml"/>
    <mapping resource="library/Mbainbox.hbm.xml"/>
    <mapping resource="library/Mcabookreg.hbm.xml"/>
    <mapping resource="library/Mbabookreg.hbm.xml"/>
    <mapping resource="library/Mbaissue.hbm.xml"/>
    <mapping resource="library/Mbatrans.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
